image:
  repository: quay.io/reactiveops/rbac-manager
  tag: 0.5.0
  pullPolicy: Always
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 128Mi
nodeSelector: {}
tolerations: []
affinity: {}
rbacDefinitions: []
