# Default values for rbac-manager.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: quay.io/reactiveops/rbac-manager
  tag: 0.3.0
  pullPolicy: Always

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 128Mi

namespace: rbac-manager

nodeSelector: {}

tolerations: []

affinity: {}
